<p>Seleccione su país:
  <select name="country" 
          style="width: 208px;
                height: 30px">
    <option value="España">España</option>
    <option value="Francia">Francia</option>
    <option value="Italia">Italia</option>
  </select>
</p>
