* {
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html {
    height: 100%;
    font-size: 24px;
}

body {
    font-family: $font-primary;
    padding-left: 35%;
    height: 80%;
    margin: 5%;
    background-image: url("https://img.freepik.com/vector-gratis/pastel-polvo-fondo-elementos-dibujados-mano_52683-40301.jpg?t=st=1657181705~exp=1657182305~hmac=bd0aa3794d426d9fbfc75dc89aafb8aae82136f93a5535eab50c33a1e81da194&w=1380");
    background-size: cover;
    
}