<div>
    <h1>{{title}}</h1>
   <app-textbox (validateEmail)="getEmail($event)"></app-textbox>
   <br>
   <app-selector>
   </app-selector>
   <br>
   <app-checkbox (checkboxEvent)="getTheChecked($event)"> 
   </app-checkbox>
   <br>
   <br>
   <br>
   <app-button>
   </app-button>
    <h2>{{message}}</h2>
</div>