@import '../styles/styles.scss';

h1 {
    display: flex;
    justify-content: left;
    font-size: 3rem;
    text-transform: capitalize;
    text-align: center;
    text-shadow: grayscale($color: #dfbdbd);
    margin-bottom: 2%;
    
}

